.hello {
    margin: 0 auto;
    width: 100px;
    background-color: rgb(166, 255, 0);
}

.h_hello h1 {
    text-shadow: rgb(0, 4, 255) 1px 0 10px;
}

h1 {
    text-align: center;
}

#H_from_hello {
    font-size: 40px;
    color: black;
    text-shadow: red 2px 5px;
}

#div_for_flex {
    display: flex;
    margin: 0 auto;
    width: min-content;
}

#tatu, #cat {
    width: 300px;
}